<div class="container-fluid" style="height: 100vh;">
<div class="header-container" style="text-align: center; margin-bottom: 20px;">
    <img src="../../../../assets/images/dashboard-header.png" alt="Header Image" style="width: 100%; height: auto; border-radius: 8px;" />
</div>
<div class="d-flex flex-row gap-5">
    <div class="p-2">

        <div class="dashboard-container">
            <div class="card dashboard-card" style="width: 20rem;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <i class="bi bi-calendar-day"></i>
                        </div>
                        <div class="col-sm-9">
                            <p class="title">Calendar</p>
                            <p class="description">See your events and bookings.</p>
                        </div>
                    </div>
                    <div class="d-md-flex justify-content-md-end">
                        <button class="btn btn-primary" type="button" routerLink="/calendar">Manage</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-2">
        
        <div class="dashboard-container">
            <div class="card dashboard-card" style="width: 20rem;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3"><i class="bi bi-pencil-square"></i>
                        </div>
                        <div class="col-sm-9">
                            <p class="title">Bookings</p>
                            <p class="description">Manage your bookings.</p>
                        </div>
                    </div>
                    <div class="d-md-flex justify-content-md-end">
                        <button class="btn btn-primary" type="button" routerLink="/bookings">Manage</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-2">
        
        
        <div class="dashboard-container">
            <div class="card dashboard-card" style="width: 20rem;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <i class="bi bi-people"></i>
                        </div>
                        <div class="col-sm-9">
                            <p class="title">My Profile</p>
                            <p class="description">Create and mange your profile.</p>
                        </div>
                    </div>
                    <div class="d-md-flex justify-content-md-end">
                        <button class="btn btn-primary" type="button" routerLink="/my-profile">Manage</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div></div>