<div id="homecontent" class="container-fluid" >
<!-- <div class="header-container" style="text-align: center; margin-bottom: 20px;">
    <img src="../../../../assets/images/dashboard-header.png" alt="Header Image" style="width: 100%; height: auto; border-radius: 8px;" />
</div> -->
<div class="row c-body landing-header"></div>
<div class="c-body" style="padding: 40px;">
  <!-- <h2 class="alert-heading"><strong>Notifications</strong></h2>
  <div class="col-12 alert alert-warning alert-dismissible fade show" *ngIf="true" role="alert">
    <table class="table table-sm no-border table-borderless">
        <thead class="no-border">
          <tr class="no-border">
            <th scope="col" class="no-border">Date</th>
            <th scope="col" class="no-border">Alert Heading</th>
          </tr>
        </thead>
        <tbody class="no-border">
          <tr class="no-border">
            <th scope="row" class="no-border">12/08/2023</th>
            <td class="no-border">This is a test alert</td>
          </tr>
        </tbody>
    </table>
  </div> -->
  <div class="row mb-2">
    <div class="col-lg-4">
      <div class="card dashboard-card" style="width: 25rem;">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <i class="bi bi-calendar-day"></i>
                </div>
                <div class="col-sm-9">
                    <p class="title">Calendar</p>
                    <p class="description">See your events and bookings.</p>
                </div>
            </div>
            <div class="d-md-flex justify-content-md-end">
                <button class="btn btn-primary" type="button" routerLink="/calendar">Manage</button>
            </div>
        </div>
      </div>  
    </div>
    <div class="col-lg-4">
      <div class="card dashboard-card" style="width: 25rem;">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3"><i class="bi bi-pencil-square"></i>
                </div>
                <div class="col-sm-9">
                    <p class="title">Bookings</p>
                    <p class="description">Manage your bookings.</p>
                </div>
            </div>
            <div class="d-md-flex justify-content-md-end">
                <button class="btn btn-primary" type="button" routerLink="/bookings">Manage</button>
            </div>
        </div>
      </div> 
    </div>
    <div class="col-lg-4">
      <div class="card dashboard-card" style="width: 25rem;">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <i class="bi bi-people"></i>
                </div>
                <div class="col-sm-9">
                    <p class="title">My Profile</p>
                    <p class="description">Create and mange your profile.</p>
                </div>
            </div>
            <div class="d-md-flex justify-content-md-end">
                <button class="btn btn-primary" type="button" routerLink="/my-profile">Manage</button>
            </div>
        </div>
      </div>
    </div>
  </div>  
</div>