.event-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  
  .event-card {
    background: #ffffff;
    border-radius: 8px;
    padding: 15px;
    width: 250px; /* Adjust width as needed */
  }
  .card-img-top{

  border-radius: 27px 27px 0 0; /* Curved top corners */
  }
  .event-card h3 {
    margin-top: 0;
    font-size:medium;
    color: #656565;
    font-weight: bold;
  }
  
  .event-card .start-date{
    font-size: 13px;
    font-weight: bold;
    color: #656565;
  }

  .event-card .event-description{
    font-size: 13px;
    font-weight: lighter;
    color: #656565;
  }

  .event-card .event-price{
    font-size: 13px;
    font-weight: lighter;
    color: #656565;
  }

  .event-card .event-follower{
    font-size: 13px;
    font-weight: lighter;
    color: #656565;
  }
  .event-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .event-actions button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #1e90ff;
    color: white;
    cursor: pointer;
  }
  
  .event-actions button:hover {
    background-color: #1c86ee;
  }
  
  #content {
    background-color: #ffffff !important;
  }