<div class="container-fluid" style="height: 100vh;" id="maincontent">
  <div class="d-flex bd-highlight">
    <div class="w-100 bd-highlight">
      <h4 style="gap: 20px;
          padding: 20px;
          color: #656565;font-weight:bold;">Venues in Toowoomba City</h4></div>
    <div class="bd-highlight tab-switch">
      <i class="bi bi-grid" (click)="switchTab('tiles')"></i>
    </div><div class="bd-highlight tab-switch">
      <i class="bi bi-map" (click)="switchTab('map')"></i>
    </div>
  </div>
<div class="event-container">
  <div [hidden]="activeTab !== 'map'" id="map" style="width: 100%; height: 500px;"></div>

  <div [hidden]="activeTab !== 'tiles'" class="card event-card" style="width: 20rem;" *ngFor="let event of events" >
    <img src={{event.imgUrl}} class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="mt-3">{{ event.title }}</h3>
      <p class="event-price">Location: {{event.location}}</p>
      <p class="event-price">Contact: {{event.contact}}</p>
      <p class="event-price">Open hours:</p>
      <ul>
        <li class="event-price" *ngFor="let oh of event.openHours">{{oh}}</li>
      </ul>
    </div>
    <div class="card-footer d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-primary md-2" type="button" (click)="openModal(event)">Book</button>
      <button class="btn btn-primary" type="button" (click)="openMap(event)">View Map</button>
    </div>
  </div>
</div>
</div>
<ng-template #mapView let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ selectedEvent?.title }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div id="map" style="width: 100%; height: 500px;"></div>
  </div>
</ng-template>

<ng-template #bookEvent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Book Venue</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="event-details">
      <div class="container-fluid">
      <img [src]="selectedEvent?.imgUrl" class="img-fluid mb-3" alt="Event Image">
      
      <p class="event-title">{{ selectedEvent?.title }}</p>
      <p class="event-date mt-3 mb-3">Contact: {{selectedEvent?.contact}}</p>
      <hr>
      <h5>Open Hours</h5>
      <div class="section-detail mt-3">
        <div class="d-flex flex-row gap-0">
          <div class="p-2">
            <i class="bi bi-calendar-check"></i> 
          </div>
          <div class="p-2">
            <ul>
              <li class="event-price" *ngFor="let oh of selectedEvent?.openHours">{{oh}}</li>
            </ul>
          </div>
        </div>
      </div>
      <h5>Location</h5>
      <p class="section-detail mt-3"><i class="bi bi-geo-alt-fill ms-2 me-3"></i> {{selectedEvent?.location}}
      <br><span>Show map</span> <i class="bi bi-chevron-down ms-2 mt-2"></i></p>
      <h5>About this Venue</h5>
      <p class="section-detail mt-3"><i class="bi bi-info-circle ms-2 me-3"></i>Lorem ipsum dolor</p>
      <p class="section-detail mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium tempora in ipsa nisi rerum, obcaecati architecto labore necessitatibus corporis officia hic assumenda. Quidem itaque illo similique! Porro modi quaerat pariatur.</p>
    </div>
      
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" style="background-color: #378251; border: 1px solid #378251;">Book Now</button>
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cancel click')">Cancel</button>
  </div>
</ng-template>

