<div class="row">
    <div class="col-md-2" style="background-color: #d7e6dc;margin-top: 150px;">
      <div class="container-fluid calendar-section">
        <!-- Bookable Space Section -->
        <p><b>
          <a class="text-success my-calendar" data-bs-toggle="collapse" href="#bookableSpace" aria-expanded="false" aria-controls="bookableSpace" (click)="toggleBookableSpace()">
            <i class="bi" [ngClass]="{ 'bi-chevron-right': !isBookableSpaceCollapsed, 'bi-chevron-down text-success': isBookableSpaceCollapsed }"></i> Bookable Space
          </a></b>
        </p>
        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="bookableSpace">
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let event of myCalendarEvents">
                    <i class="bi bi-check-circle-fill"></i> {{event.title}}
                </li>
              </ul>
            </div>
          </div>
        </div>
        
        <!-- Events Section -->
        <p class="mt-2"><b>
          <a class="text-success my-calendar" data-bs-toggle="collapse" href="#events" aria-expanded="false" aria-controls="events" (click)="toggleEvents()">
            <i class="bi" [ngClass]="{ 'bi-chevron-right': !isEventsCollapsed, 'bi-chevron-down text-success': isEventsCollapsed }"></i> Events
          </a></b>
        </p>
        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="events">
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let event of eventsCalendarEvents">
                    <i class="bi bi-check-circle-fill"></i> {{event.title}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-md-10 calendar-view">
      <div>
        <h3 class="mt-5 mb-3 text-success">
        </h3>
        <app-calendar-view [viewDate]="viewDate" [events]="events" [actions]="actions" class="responsive-calendar"></app-calendar-view>
      </div>
    </div>
  
    <!-- Modal for Adding Events -->
    <ng-template #modalContent let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Add New Event</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <form #eventForm="ngForm">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" [(ngModel)]="newEvent.title" name="title" required />
          </div>
          <div class="mb-3">
            <label for="startDateTime" class="form-label">Start Date/Time</label>
            <input type="datetime-local" class="form-control" id="startDateTime" [(ngModel)]="newEvent.start" name="startDateTime" required />
          </div>
          <div class="mb-3">
            <label for="endDateTime" class="form-label">End Date/Time</label>
            <input type="datetime-local" class="form-control" id="endDateTime" [(ngModel)]="newEvent.end" name="endDateTime" required />
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" [(ngModel)]="newEvent.description" name="description" rows="3"></textarea>
          </div>
          <div class="form-check mb-3">
            <input type="checkbox" class="form-check-input" id="recurring" [(ngModel)]="newEvent.recurring" name="recurring" />
            <label for="recurring" class="form-check-label">Recurring Event</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" style="background-color: #378251; border: 1px solid #378251;" (click)="saveEvent()">Save</button>
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cancel click')">Cancel</button>
      </div>
    </ng-template>
  </div>