<div class="row">
    <div class="col-md-2">
        <div class="container-fluid calendar-section">
            <p>
                <a class="my-calendar" data-bs-toggle="collapse" href="#myCalendars" aria-expanded="false" aria-controls="myCalendars" (click)="toggleMyCalendar()">
                    <i class="bi" [ngClass]="{ 'bi-chevron-right': !isMyCalendarCollapsed, 'bi-chevron-down text-success': isMyCalendarCollapsed }"></i> My Calendars </a>
            </p>
            <div class="row">
                <div class="col">
                    <div class="collapse multi-collapse" id="myCalendars">
                        <ul class="list-group">
                            <li class="list-group-item" (click)="toggleCalendar('myCalendar')">
                                <i class="bi bi-check-circle-fill" [ngClass]="{ 'text-success': isCalendarActive('myCalendar') }"></i> Calendar
                            </li>
                            <li class="list-group-item" (click)="toggleCalendar('usHolidays')">
                                <i class="bi bi-check-circle-fill" [ngClass]="{ 'text-success': isCalendarActive('usHolidays') }"></i> United States holidays
                            </li>
                            <li class="list-group-item" (click)="toggleCalendar('birthdays')">
                                <i class="bi bi-check-circle-fill" [ngClass]="{ 'text-success': isCalendarActive('birthdays') }"></i> Birthdays
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10 calendar-view">
        <div *ngFor="let calendar of selectedCalendars">
            <h3 class="mt-5 mb-3 text-success">
                <b>{{ calendar.displayString }}</b>
            </h3>
            <app-calendar-view [viewDate]="viewDate" [events]="calendar.events" [actions]="actions" class="responsive-calendar"></app-calendar-view>
        </div>
    </div>
</div>